body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7E7E7 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #004A2F;
  height: 80px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 50px;
}

.navbar img {
  padding-bottom: 20px;
}
.dashboard {
  margin-top: 50px;
}

.welcomeText {
  font-size: 300%;
  font-style: bold;
}

.profile {
  margin-top: 50px;
}

.profile img {
  border-radius: 50%;
  border: 2px solid gray;
  background-color: white;
  width: 200px;
}

.profileMenu {
  padding-top: 100px;
  margin-top: -100px;
  padding-bottom: 50px;
  background-color: #004A2F;
  border-radius: 30px;
  color: white;
}

.factOfTheDay {
  margin: 20px auto;
  padding: 15px 15px;
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  border-top: 50px solid #4D806D;
}

.factOfTheDay h5 {
  color: white;
  margin-top: -55px;
  margin-bottom: 20px;
}

.factOfTheDay button {
  width: 50px;
  margin: 4px;
  font-size: 80%;
  color: white;
  border: none;
  border-radius: 20px;
}

button.nice {
  background-color: #004A2F;
}

button.okay {
  background-color: #669282;
}

.menu a {
  color: #2A292E;
  text-decoration: none;
  font-size: 120%;
  margin-left: 60px;
  font-weight: bold;
}

.menu a:hover {
  color: gray;
}

.classes_games {
  border-radius: 30px;
  margin-top: 6px;
  padding: 30px 30px;
  background-color: #F3F1F1;
  border-top: 60px solid #004A2F;
}

.classes_games_game {
  margin-top: 25px;
}

.classes_games h2 {
  margin-top: -80px;
  margin-bottom: 50px;
  color: white;
}

.viewall {
  color: white;
  float: right;
  font-size: 50%;
  padding-top: 20px;
  background-color: #004A2F;
  border: none;
}

.classes_games .card {
  width: 140px;
  height: 160px;
  margin: 20px 0px;
  margin-bottom: 50px;
  border-radius: 20px;
  color: white;
}

.classes_games .carousel-indicators {
  margin-bottom: -10px;
}

.classes_games .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #004A2F;
}

.classes_games .card-title {
  margin: 10px auto 10px auto;
  font-size: 400%;
  height: 88px;
  width: 64px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23004A2F' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23004A2F' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.time_spent {
  border-radius: 60px;
  margin-top: 25px;
  height: 592px;
  background-color: #F3F1F1;
  padding: 40px;
}

.time_spent button {
  border: none;
  color: black;
  background-color: #F3F1F1;
}

.assignments {
  border-radius: 30px;
  margin-top: 25px;
  padding: 30px 30px;
  background-color: #F3F1F1;
  border-top: 60px solid #004A2F;
}

.assignments h2 {
  margin-top: -80px;
  margin-bottom: 50px;
  color: white;
}

.assignments button {
  border: none;
  background-color: #004A2F;
  margin-top: -30px;
}

.assignments button:hover {
  border: none;
  background-color: #2A292E !important;
  float: right;
}

.lolol {
  background-color: #A3A3A3;
  color: white;
}

.ass-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.eng-ass {
  background-color: #015D72;
}

.hist-ass {
  background-color: #EC9B00;
}

.e-math-ass {
  background-color: #9A2325;
}

.chi-ass {
  background-color: #616B39;
}

a.dropdown-item:active {
  background-color: white;
  color: black;
}

.personalityText {
  font-size: 300%;
  font-style: bold;
  margin-top: 60px;
  margin-bottom: 16px;
}

.personalityBoard {
  border-radius: 30px;
  margin-top: 10px;
  padding: 70px 30px;
  background-color: #F3F1F1;
  height: 570px;
}

.personalityCards .ant-card{
  background-color: #D9D9D9;
  border-radius: 20px;
  padding: 15px 10px;
  margin-top: 15px;
  height: 350px;
}

.personalityCards {
  padding: 0px 60px;
}

.personalityCard-icon {
  font-size: 500%;
  margin-top: 50px;
}

.personalityCards button {
  width: 90px;
  margin: 4px;
  font-size: 80%;
  background-color: #004A2F;
  color: white;
  border: none;
  border-radius: 20px;
}

.personalityCards .personalityImg {
  height: 200px;
}

.surveys {
  margin: 100px 100px;
}

.surveys .ant-radio-group {
  margin-top: 100px;
  line-height: 100px;
}

.surveys span {
  font-size: 25px;
}

.surveyBtn button {
  background-color: #004A2F;
  border-radius: 20px;
  color: white;
  width: 150px;
  height: 35px;
  margin: 15px;
  border: none;
  margin-bottom: 100px;
}

.surveyresultpage {
  margin: 50px 100px;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  border-top: 300px solid #2A292E;
}

.surveyresultpage .personality-icon {
  margin-top: -350px;
  color: white;
  font-size: 500%;
}

.personalityExp {
  margin: 15px;
}

.surveyresultpage h2 {
  margin: 50px auto;
  margin-top: -260px;
  color: white;
}

.surveyresultpage h5 {
  color: #B7B7B7;
}

.surveyresultpage .surveymeaning {
  height: 60vh;
  margin: 0px 0px;
  border-radius: 20px;
  padding: 50px;
  border-top: 80px solid #2A292E;
  background-color: #F3F1F1;
}

.surveyresultpage span {
  font-weight: bold;
  text-decoration: underline;
}

.surveyresultpage .meaningrow {
  margin: 0px 50px;
}

.surveyresultpage h3 {
  margin: -110px auto 100px auto;
  color: white;
}

.surveymeaning h5 {
  color: black;
}

.surveymeaning h3 {
  font-size: 1.6em;
}

.beforesurvey {
  margin: 200px auto;
}

.beforesurvey button {
  background-color: #004A2F;
  border-radius: 20px;
  color: white;
  width: 150px;
  height: 35px;
  margin: 15px;
  border: none;
}

.feedbackBtn {
  margin-top: 40px;
}

.feedbackBtn button {
  margin: 0px 10px;
  border-radius: 20px;
  width: 50px;
}

.feedbackBtn span {
  text-decoration: none;
}

.feedbackBtn .feedbackYes {
  background-color: #D9F8C4;
}

.feedbackBtn .feedbackNo {
  background-color: #F37878;
}

.mbti-text {
  font-size: 500%;
  font-weight: bold;
  margin-top: -280px;
}

.calendar {
  border-top: 50px solid #004A2F;
  border-radius: 20px;
  height: 520px;
  padding: 20px;
  background-color: #F3F1F1;
}

.calendar h2 {
  color: white;
  margin-top: -65px;
  margin-bottom: 20px;
}

.calendar h3 {
  margin-top: -40px;
  margin-bottom: 5px;
  font-weight: normal;
  color: white;
}

.calendar .row {
  height: 100%;
}

.calendar .time {
  height: 100%;
  line-height: 41px;
  padding-top: 50px;
}

.calendar .day {
  margin: 0px 10px;
  border-radius: 20px;
  border-top: 55px solid #004A2F;
  padding: 0 0;
}

.calendar .subject {
  color: white;
  margin: 0px 0px;
  padding: 0px 0px;
}

.calendar p {
  margin-bottom: 0px;
}

.calendar .e-math-mon {
  height: 27%;
  background-color: #9A2325;
}

.calendar .empty {
  height: 6.5%;
  background-color: white;
}

.calendar .empty-last {
  height: 6.5%;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.calendar .eng-mon {
  height: 27%;
  background-color: #015D72;
}

.calendar .chem-mon {
  height: 22%;
  background-color: #96D1BD;
}

.calendar .eng-tue {
  height: 13.5%;
  background-color: #015D72;
}

.calendar .chem-tue {
  height: 13.5%;
  background-color: #96D1BD;
}

.calendar .history-tue {
  height: 35.5%;
  background-color: #EC9B00;
}

.calendar .chinese-wed {
  height: 27%;
  background-color: #616B39;
}

.calendar .history-wed {
  height: 17.75%;
  background-color: #EC9B00;
}

.calendar .eng-wed {
  height: 17.75%;
  background-color: #015D72;
}

.calendar .e-math-thu {
  height: 27%;
  background-color: #9A2325;
}

.calendar .chem-thu {
  height: 35.5%;
  background-color: #96D1BD;
}

.calendar .chinese-fri {
  height: 27%;
  background-color: #616B39;
}

.calendar .e-math-fri {
  height: 17.75%;
  background-color: #9A2325;
}

.modal-header {
  background-color: #669282;
  color: white;
}

.modal-header h4 {
  text-align: center;
}

.modal {
  margin-top: 50px;
}

.modal button {
  background-color: #669282;
}

.modal button:hover {
  background-color: #669282;
}

.modal .btn-close {
  display: none;
}

.modal h6 {
  padding: 5px 0px;
  margin: 0px auto;
  width: 130px;
  color: white;
  border-radius: 20px;
}

.habittrackerBoard {
  background-color: #F3F1F1;
  border-top: 50px solid #004A2F;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 50px;
}

.habittrackerBoard h2 {
  color: white;
  margin-top: -65px;
  margin-bottom: 20px;
}

.meter {
  background-color: #D9D9D9;
  border-radius: 15px;
  width: 80%;
  height: 12px;
  margin: 40px 30px;
}

.meter2 {
  background-color: #73A767;
  color: white;
  height: 12px;
  width: 85%;
  border-radius: 15px;
}

.habittrackerBoard .day {
  margin: 0px 10px;
  border-radius: 20px;
  border-top: 40px solid #004A2F;
  padding: 0 0;
  background-color: white;
}

.habittrackerBoard h3 {
  margin-top: -40px;
  margin-bottom: 5px;
  font-weight: normal;
  color: white;
}

.habit {
  width: 35px;
  height: 35px;
  margin: 35px auto;
  border-radius: 5px;
}

.habit-indicator span {
  margin: 0px 20px;
}

span.habit-ind {
  margin: 0px 0px !important;
  width: 15px;
  height: 15px;
  display: inline-block;
}

/* .habit-1 {
  background-color: #EC9B00;
}

.habit-2 {
  background-color: #96D1BD;
}

.habit-3 {
  background-color: #9A2325;
}

.habit-4 {
  background-color: #015D72;
}

.habit-5 {
  background-color: #616B39;
}

.habit-e {
  background-color: #D9D9D9;
} */

.habittrackerBoard .habit-ind {
  margin: 29px 0px;
}

.habit-ind li {
  font-size: large;
  line-height: 0%;
}

/* .hab1 {
  color: #EC9B00;
}

.hab2 {
  color: #96D1BD;
}

.hab3 {
  color: #9A2325;
}

.hab4 {
  color: #015D72;
}

.hab5 {
  color: #616B39;
}

*/

.habit-ind span {
  color: black;
  font-size: 80%;
} 

.habit-meaning {
  background-color: #D9D9D9;
  height: 380px;
  border-radius: 20px;
}

.addhabitbtn {
  float: right;
  margin-top: 40px;
  border-radius: 60px !important;
  background-color: #2A292E !important;
  border: none !important;
}

.lsicon {
  background-color: gray;
}

.mbtiicon {
  background-color: gray;
}

.chroicon {
  background-color: gray;
}

.lsicon1 {
  background-color: #EC9B00;
}

.mbtiicon1 {
  background-color: #9A2325;
}

.chroicon1 {
  background-color: #015D72;
}

.flip-card {
  background-color: transparent;
  margin: 50px auto;
  width: 60%;
  height: 700px;
  border: 1px solid #f1f1f1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner button {
  color: #004A2F;
  font-weight: bold;
  font-size: 150%;
  border: none;
  background-color: #E7E7E7;
  margin-top: 10px;
  text-decoration: underline;
}

.idealschedule {
  background-color: #004A2F;
  margin: 5px 50px;
  border-radius: 20px;
  padding: 0px;
  color: white;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #E7E7E7;
  border-radius: 20px;
  border: 2px solid #004A2F;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #E7E7E7;
  color: black;
  transform: rotateY(180deg);
  border-radius: 20px;
  border: 2px solid #004A2F;
}

.css-18y2uza-MuiTypography-root-MuiTimelineContent-root, .css-17rm008-MuiTypography-root-MuiTimelineOppositeContent-root {
  font-size: 1.2rem !important;
}

.flip-card-icon {
  color: #004A2F;
  font-size: 1000%;
  background-color: #E7E7E7;
  margin: 20px;
  border-radius: 20px;
}

.flip-card-def {
  background-color: #004A2F;
  color: white;
  margin: 10px;
  border-radius: 20px;
  height: 100%;
}

.flip-card-char, .flip-card-ttn {
  background-color: #004A2F;
  color: white;
  height: 40%;
  margin: 20px 10px;
  border-radius: 20px;
  text-align: left;
  padding: 20px;
}

.survery1result {
  width: 90%;
  margin: 300px auto;
}

.survey1result-icon {
  background-color: #004A2F;
  width: 675px;
  height: 400px;
  margin: 150px 0px 0px auto;
  color: white;
  font-size: 1500%;
  border-radius: 25px;
}

.survey1result-type {
  color: #004A2F;
  font-size: 400%;
  margin: 150px auto 0px auto;
}

.survey1result-btn {
  margin-right: 300px;
  margin-top: 150px;
  text-align: right;
}

.survey1result-btn button {
  color: #004A2F;
  border: none;
  background-color: #E7E7E7;
  font-size: 200%;
  text-decoration: underline;
}

.survey1resultpg2 {
  background-color: #004A2F;
  height: 100vh;
}

.survey1resultpg2 h1 {
  color: white;
  margin: 100px 0px 0px 200px;
}

.survey1resultpg2 ul {
  color: white;
  margin: 100px 0px 0px 200px;
  font-size: 150%;
}

.survey1resultpg2-num {
  color: white;
  font-size: 1000%;
  margin: 50px auto 0px 350px;
  opacity: 70%;
}

.survey1resultpg2-icon {
  color: white;
  opacity: 70%;
  font-size: 500%;
  margin: 200px 0px 0px 250px;
}

.survey1resultpg2-btn {
  margin: 300px auto 0px 250px;
}

.survey1resultpg2-btn button {
  color: white;
  border: none;
  background-color: #004A2F;
  font-size: 200%;
  text-decoration: underline;
}

.survey1resultpg2-btn a {
  color: white;
  border: none;
  background-color: #004A2F;
  font-size: 200%;
  text-decoration: underline;
}

.survey1resultpg2-btn a:hover {
  color: white;
}

.flip-box {
  background-color: transparent;
  border: 1px solid #f1f1f1;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.chartCap {
  font-size: 80%;
}